<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Liên hệ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
<link href="css/prettyPhoto.css" type="text/css" rel="stylesheet" media="screen"><!-- prettyPhoto -->
<link href="css/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--tipsy-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<script type="text/javascript" src="js/css3-mediaqueries.js"></script><!--mediaqueries-->
<script type="text/javascript" src="js/modernizr-1.7.min.js"></script><!--modernizr-->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script><!-- prettyPhoto -->
<script type="text/javascript" src="js/jquery.tipsy.js"></script><!--tooltip-->
<script type="text/javascript" src="js/jquery-hover-effect.js"></script><!--Image Hover Effect-->
<script type="text/javascript" src="js/jquery.hoverIntent.minified.js"></script><!--menu-->
<script type="text/javascript" src="js/jquery.dcmegamenu.1.3.3.js"></script><!--menu-->
<script type="text/javascript" src="js/jquery.quovolver.js"></script><!--blockquote-->
<script type="text/javascript" src="js/custom.js"></script><!--custom-->
<!--MENU-->
<script type="text/javascript">
$(document).ready(function($){
	$('#mega-menu-3').dcMegaMenu({
		rowItems: '2',
		speed: 'fast',
		effect: 'fade'
	});
});
</script>
<!--MENU-->
<script type="text/javascript">
$(document).ready(function($){
	$('#mega-menu-3').dcMegaMenu({
		rowItems: '2',
		speed: 'fast',
		effect: 'fade'
	});
});
</script>
</head>

<body onLoad="initialize()">
	<div id="page_wrap">
    	<header>
        	<div id="top">
            	<span>Chào bạn đến với Rồng đỏ Computer</span>
                <div>
                	<p>Ngôn ngữ:
                	<label>
                        <select>
                            <option selected>Tiếng việt </option>
                            <option>German</option>
                            <option>English</option>
                        </select>
                    </label>​
                    </p>
                    <p>Tiền tệ:
                	<label>
                        <select>
                            <option selected>VNĐ</option>
                            <option>US Dollar - USD </option>
                            <option>Euro - EUR</option>
                            <option>British Pound - GBP</option>
                        </select>
                    </label>​
                    </p>
                </div>
            </div><!--end:top-->
            <div id="top2">
            	<ul class="myaccountmenu"> 
                    <li class="login"><a href="#login-box" class="last login-window">Đăng nhập</a></li>
                </ul>
                <div id="login-box" class="login-popup">
                <a href="#" class="close"><img src="images/process-stop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                  <form method="post" class="signin" action="#">
                        <fieldset class="textbox">
                        <label class="username">
                        <span>Tên đăng nhập</span>
                        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
                        </label>
                        <label class="password">
                        <span>Mật khẩu</span>
                        <input id="password" name="password" value="" type="password" placeholder="Password">
                        </label>
                        <button class="submit button" type="button">Đăng nhập</button>
                        <p>
                        <a class="forgot" href="#">Quên mật khẩu?</a> / <a class="register" href="register.html">Tạo tài khoản</a>
                        </p>        
                        </fieldset>
                  </form>
       			</div>
                
            </div><!--end:top2-->
            <div id="top3">
            	<h1 class="logo"><a href="index.html"></a></h1>
                <form action="#" method="post" class="search_bar">
                    <fieldset>
					  <select class="search">
                        <option>Nhập từ khóa...</option>
                        <option>Laptop</option>
                        <option>Máy bàn</option>
                        <option>Điện thoại</option> 
                      </select>
                      <!--<input type="text" name="search" class="search" value="Nhập từ khóa..." onBlur="if (this.value == ''){this.value = 'Nhập từ khóa...'; }" onFocus="if (this.value== 'Nhập từ khóa...') {this.value = ''; }" />-->
                      <input type="submit" name="submit" value="Search" class="submit" onclick="" />
                    </fieldset>
                </form>
            </div><!--end:top3-->
        </header>
        <div id="container">
        	<nav>  
                <ul id="mega-menu-3" class="mega-menu">
                     <li><a href="index.html">Trang chủ</a></li> 
				<li><a href="list_products.html">Sản phẩm</a>
					<ul>
						<li><a href="list_products.html">Laptop</a>
							<ul>
								<li><a href="list_products.html">Latop Apple</a></li>
								<li><a href="list_products.html">Laptop Asus</a></li>
								<li><a href="list_products.html">Laptop Dell</a></li>
								<li><a href="list_products.html">Laptop Compaq-HP</a></li>
								<li><a href="list_products.html">Laptop Acer</a></li>
							</ul>
						</li>
						<li><a href="list_products.html">Computer</a>
							<ul>
								<li><a href="list_products.html">PC Acer</a></li>
								<li><a href="list_products.html">PC Intel</a></li>
								<li><a href="list_products.html">PC HP</a></li> 
							</ul>
						</li> 
						<li><a href="list_products.html">Mobile</a>
							<ul>
								<li><a href="list_products.html">SamSung</a></li>
								<li><a href="list_products.html">HTC</a></li> 
							</ul>
						</li>  
					</ul>
				</li> 
				<li><a href="contact.html">Liên hệ</a></li>
                </ul>
            </nav><!--end:grey-->
            <div class="content-wrap">
            	<div style="clear:both; display:block; height:20px"></div>
                <div id="intro">
                	<div class="one-fourth serv first">
                    	<img src="images/service-1.png" alt="">
                        <h3><a href="#">Giao hàng</a></h3>
                        <span>Tận nơi</span>
                    </div>
                    <div class="one-fourth serv">
                    	<img src="images/service-2.png" alt="">
                        <h3><a href="#">Hoàn trả</a></h3>
                        <span>30 ngày</span>
                    </div>
                    <div class="one-fourth serv">
                    	<img src="images/service-3.png" alt="">
                        <h3><a href="#">ĐT liên hệ</a></h3>
                        <span>(+84) 123 456 7890</span>
                    </div>
                    <div class="one-fourth serv">
                    	<img src="images/service-4.png" alt="">
                        <h3><a href="#">Bảo mật</a></h3>
                        <span>Thanh toán</span>
                    </div>
                </div>
                <div class="container-2">
                	<section class="content">
                        <h3>Vị trí trụ sở của chúng tôi</h3>
                        <div id="map_canvas"></div>
                        <p><h4>Để mua một chiếc máy tính, khách hàng thường gặp không ít khó khăn khi phải lựa chọn nơi thực sự uy tín, chất lượng cùng chế độ hậu mãi tốt, trước hàng trăm doanh nghiệp đã và đang tham gia thị trường bán lẻ các mặt hàng công nghệ như hiện nay. Việc đặt niềm tin đúng chỗ sẽ mang lại cho khách hàng một sản phẩm ưng ý về mọi mặt. Một trong những nhà bán lẻ máy tính và điện thoại di động uy tín hàng đầu tại TP.HCM phải kể đến là Công ty Cổ phần Máy tính Rồng đỏ (Rồng đỏ Computer).</h4></p>
						<p><h4><strong>Đến với chúng tôi, khàng hàng sẽ được đảm bảo về chất lượng và giá cá hợp lí.</strong></h4></p>
                        <h3>Khách hàng có thể liên hệ với chúng tôi theo mẫu bên dưới.</h3>
                        <p>   Địa chỉ liên hệ: <br>
							  325 Hồng Bàng, P11, Q5, TP HCM<br>
                              Tel: 012345678910<br>
                              Fax: 012345678910<br>
                              Email: <a href="mailto:info@domainname.com">rongdo@computer.com</a></p>
                        <form action="javascript:alert('success!');" id="ajax-contact-form" class="contactForm">
                          <div id="note"></div>
                          <p>
                            <input type="text" name="name" value="Tên" onblur="if (this.value == ''){this.value = 'Tên'; }" onfocus="if (this.value == 'Tên') {this.value = '';}" >
                            &nbsp;
                            <input type="text" name="email" value="Địa chỉ Email" onblur="if (this.value == ''){this.value = 'Địa chỉ Email'; }" onfocus="if (this.value == 'Địa chỉ Email') {this.value = '';}">
                            &nbsp;
                            <input type="text" name="website" value="Website của bạn" onblur="if (this.value == ''){this.value = 'Website của bạn'; }" onfocus="if (this.value == 'Website của bạn') {this.value = '';}">
                          </p>
                          <p>
                            <textarea name="message" rows="10" cols="20" onblur="if (this.value == ''){this.value = 'Tin nhắn của bạn'; }" onfocus="if (this.value == 'Tin nhắn của bạn') {this.value = '';}">Tin nhắn của bạn</textarea>
                          </p>
                          <p>
                            <input type="submit" name="submit" class="submit" value="Gửi">
                          </p>
                        </form>     
                    </section>
                    <aside class="sidebar">
                    	<div class="side">
                        	<h4>Sản phẩm hot</h4>
                            <div class="entry">
                            	<div class="da-thumbs">
                                	<div>
                                    	<img src="images/products/nokia 311 tmt.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="product-detail.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="product-detail.html">Nokia Asha 311</a></h3>
                                <small>6.100.000vnđ</small>
                            </div>
                            <div class="entry">
                            	<div class="da-thumbs">
                                	<div>
                                    	<img src="images/products/iPhone_5_specs_and_features.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="product-detail.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="product-detail.html">Iphone 5</a></h3>
                                <small>11.500.000vnđ</small>
                            </div>
							 <div class="entry">
                            	<div class="da-thumbs">
                                	<div>
                                    	<img src="images/products/Sony-Vaio-SVE14132CV-33122G32W8-l.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="product-detail.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="product-detail.html">Sony Vaio SVE14132CV</a></h3>
                                <small>11.990.000vnđ</small>
                            </div>
							<div class="entry">
                            	<div class="da-thumbs">
                                	<div>
                                    	<img src="images/products/Archos-Arnova-7f-G3-–-Wifi-4GB-l.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="product-detail.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="product-detail.html">Máy tính bảng Archos Arnova</a></h3>
                                <small>3.290.000vnđ</small>
                            </div>
                        </div><!--end:side--> 
                        <div class="side">
                        	<h4>Hãy dến với chúng tôi!</h4>
                            <ul class="fade">					
                                <li class="feed">Đảm bảo chất lượng, giá cả hấp hẫn!<br> 
                                </li>
                                <li class="feed">Giao hàng tận nơi miễn phí!<br> 
                                </li>
                                <li class="feed">Chăm sóc khách hàng tận tình!<br> 
                                </li> 
								 <li class="feed">Rồng Đỏ Computer!<br> 
                                </li> 
                            </ul>
                        </div>
                    </aside>
                </div><!--end:container-2-->
                 <div class="container-2">
                	<div style="clear:both; display:block; height:40px"></div>
                    <div class="ship">
                    	<a href="#"><img src="images/service-1.png" alt=""></a>
                        <h4><a href="#">Giao hàng miễn phí</a></h4>
                        <span>Khi thanh toán trên 1.000.000 vnđ</span>
                    </div>
                    <div class="subs">
                    	<h4>Đăng kí để nhận tin tức</h4>
                    	<form action="#" method="post" class="subscribes">
                            <fieldset>
                              <input type="text" name="subscribe" class="subscribe" value="Đóng góp ý kiến" onBlur="if (this.value == ''){this.value = 'Đóng góp ý kiến'; }" onFocus="if (this.value== 'Đóng góp ý kiến') {this.value = ''; }" />
                              <input type="submit" name="submit" value="Gửi" class="submit" />
                            </fieldset>
                        </form>
                    </div>
                </div><!--end:container-2-->
            </div><!--end:content-wrap-->
            <footer>
            	<div class="content-wrap">
                	<div class="one-fourth first">
                    	<h4>Thông tin</h4>
                        <ul>
                        	<li><a href="#">Giới thiệu</a></li> 
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Điều khoản</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                    	<h4>Chăm sóc khách hàng</h4>
                        <ul>
                        	<li><a href="contact.html">Liên hệ</a></li>
                            <li><a href="#">Hoàn trả</a></li>
                            <li><a href="#">Bảo mật</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                    	<h4>Mở rộng</h4>
                        <ul>
                        	<li><a href="#">Thương hiệu</a></li>
                            <li><a href="#">Phiếu quà tặng</a></li>
                            <li><a href="#">Chi nhánh</a></li> 
                        </ul>
                    </div>
                    <div class="one-fourth">
                    	<h4>Tài khoản</h4>
                        <ul>
                        	<li><a href="#">Thông tin tài khoản</a></li>
                            <li><a href="#">Lịch sử đặt hàng</a></li>
                            <li><a href="#">Sản phẩm yêu thích</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="content-wrap"> 
                    <p style="clear:both; display:block;">&copy; 2013 <a href="index.html">Rồng Đỏ Computer</a>, All Rights Reserved. Designed by: <a href="#">Võ Thanh Quang</a></p>
                </div>
            </footer>
        </div><!--end:container-->
    </div><!--end:page_wrap-->
<!--GOOGLE MAP PLUGIN-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
			function initialize() {
				var latlng = new google.maps.LatLng(10.755191, 106.659608);
				var settings = {
					zoom: 15,
					center: latlng,
					mapTypeControl: true,
					mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
					navigationControl: true,
					navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
					mapTypeId: google.maps.MapTypeId.ROADMAP};
				var map = new google.maps.Map(document.getElementById("map_canvas"), settings);
				
				var infowindow = new google.maps.InfoWindow({
					content: contentString
				});
				
				var companyImage = new google.maps.MarkerImage('images/logo.png',
					new google.maps.Size(100,50),
					new google.maps.Point(0,0),
					new google.maps.Point(50,50)
				);

				var companyShadow = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/logo_shadow.html',
					new google.maps.Size(130,50),
					new google.maps.Point(0,0),
					new google.maps.Point(65, 50));

				var companyPos = new google.maps.LatLng(10.755191, 106.659608);

				var companyMarker = new google.maps.Marker({
					position: companyPos,
					map: map,
					icon: companyImage,
					shadow: companyShadow,
					title:"Høgenhaug",
					zIndex: 3});
				
				var trainImage = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/train.html',
					new google.maps.Size(50,50),
					new google.maps.Point(0,0),
					new google.maps.Point(50,50)
				);

				var trainShadow = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/train_shadow.html',
					new google.maps.Size(70,50),
					new google.maps.Point(0,0),
					new google.maps.Point(60, 50)
				);

				var trainPos = new google.maps.LatLng(10.755191, 106.659608);

				var trainMarker = new google.maps.Marker({
					position: trainPos,
					map: map,
					icon: trainImage,
					shadow: trainShadow,
					title:"Train Station",
					zIndex: 2
				});

				var parkingImage = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/parking.html',
					new google.maps.Size(50,50),
					new google.maps.Point(0,0),
					new google.maps.Point(50,50)
				);

				var parkingShadow = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/parking_shadow.html',
					new google.maps.Size(70,50),
					new google.maps.Point(0,0),
					new google.maps.Point(60, 50)
				);

				var parkingPos = new google.maps.LatLng(10.755191, 106.659608);

				var parkingMarker = new google.maps.Marker({
					position: parkingPos,
					map: map,
					icon: parkingImage,
					shadow: parkingShadow,
					title:"Parking Lot",
					zIndex: 1
				});
				
				google.maps.event.addListener(companyMarker, 'click', function() {
					infowindow.open(map,companyMarker);
				});
			}
		</script>
<script type="text/javascript">
$(document).ready(function(){
$("#ajax-contact-form").submit(function(){

var str = $(this).serialize();

   $.ajax({
   type: "POST",
   url: "contact.php",
   data: str,
   success: function(msg){
    
$("#note").ajaxComplete(function(event, request, settings){

if(msg == 'OK') // Message Sent? Show the 'Thank You' message and hide the form
{
result = '<div class="notification_ok">Your message has been sent. Thank you!</div>';
$("#fields").hide();
}
else
{
result = '<ul class="error">'+msg+'</ul>';
}

$(this).html(result);

});

}

 });

return false;

});

});
</script>            
</body>
</html>
