/* 
    Document   : mystyle
    Created on : Dec 5, 2013, 4:56:22 PM
    Author     : NELSON QUANG
    Description:
        Purpose of the stylesheet follows.
*/
.list_work .jcarousel-skin-tango ul li img {
	width: 200px;
	height: 200px;
}

.error {
	color: red !important;;
	margin: 0px 0px 0px 10px;
	font-size: 13px;
}

table.shopping-cart tr td button.update {
	background: #a3d464;
	padding: 9px 7px 3px 7px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
}